@page "/"
@namespace BlazingCRM.Docker.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>I Tutorial Blazing Code!</title>
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="css/site.css" rel="stylesheet" />
</head>
<body>
    <app>
        <component type="typeof(App)" render-mode="ServerPrerendered" />
    </app>

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            ATTENZIONE! Si è verificato un errore nell'applicazione.
        </environment>
        <environment include="Development">
            ATTENZIONE! Si è verificato un errore nell'applicazione.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_framework/blazor.server.js"></script>

    <script src="~/js/SaveAsFile.js"></script>

    <script src="~/js/SaveAsPDF.js"></script>

</body>
</html>
