@page "/"
<p>
    <h2>Benvenuto in Blazing CRM!</h2>
    <hr />
    <h4>Blazing CRM fa parte del progetto <a href="https://etabetaweb.github.io/BlazingCode/" style="color:black;"><strong>Blazing Code</strong></a>: i tutorial per sviluppare applicazioni web con ASP.NET Core.</h4>
</p>
<p>
    <img src="/images/BlazingCodeWelcome.jpg" class="card-img-top" alt="Blazing Google Maps!">
</p>
